<h1><%=@song.name%></h1>
<% @song.artist.each do |artist| %>
  <%= link_to artist.name, artist_path(artist.id) %>
<% end %>
<% @song.genre.each do |genre| %>
  <%= link_to genre.name, genre_path(genre.id) %>
<% end %>
